body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1270px;
  margin: auto;
}

.container .title {
  text-align: center;
  color:#908fbc;
}

.search-box {
  padding: 60px 0;
}


#serch-field {
  width: 70%;
  height: 42px;
  outline: 0;
  border-radius: 30px;
  padding: 0 20px;
  border: 1px solid #dce0e8;
  box-shadow: 0px 12px 14px #254a9914;
}


#search-button {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  background-color: #9357b6;
  padding: 12px 35px;
  border-radius: 30px;
  color: #ffffff;
}


.search-box-wrapper {
  text-align: center;
}


::placeholder {
  font-size: 12px;
  text-transform: capitalize;
  color: #052419;
}


#product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px 50px;
  padding-top: 80px;
}


.product {
  text-align: center;
  padding: 40px 20px;
  border-radius: 10px;
  background-color: #a3b2e4;
}


#detail-btn {
  text-decoration: none;
  font-size: 14px;
  padding: 10px 30px;
  background-color: #491799;
  color: #ffffff;
  border-radius: 30px;
}


/* reponsive ---mobile */



@media screen and (max-width: 576px) {
  #product-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .search-box {
    padding: 0 20px;
  }



  #search-button {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    background-color: #9357b6;
    padding: 12px 24px;
    border-radius: 5px;
    color: #ffffff;
  }



  #serch-field {
    width: 35%;
    height: 42px;
    outline: 0;
    border-radius: 10px;
    padding: 0 20px;
    border: 1px solid #dce0e8;
    box-shadow: 0px 12px 14px #25354614;
  }
}



#product-detail-wrapper {
  text-align: center;
  padding: 60px 0;
  font-size: 14px;
}



#Invalid,#unknown{
  display: none;
  color: #ff6600;
}